<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Topo</title>
</head>
<body>
<h1>Text</h1>
<form method="post" action="/create_net">
    <button type="submit">Create net</button>
</form>

<form method="post" action="/add_host">
    <button type="submit">Add host</button>
</form>

<form method="post" action="/add_switch">
    <button type="submit">Add switch</button>
</form>

<form method="post" action="/add_controller">
    <button type="submit">Add controller</button>
</form>

<form method="post" action="/add_link">
    <button type="submit">Add link</button>
</form>

<form method="post" action="/form_topology">
    <button type="submit">Form Topology</button>
</form>

<div>
    <h2>Add Template</h2>
    <form method="post" action="/add_topology">
        <p>Hosts amount:</p>
        <input type="text" id="input-host" name="input_host">
        <p>Switches amount:</p>
        <input type="text" id="input-switch" name="input_switch">
        <button type="submit">Add topology</button>
    </form>
</div>

<h3> Created hosts</h3>
{% for host in hosts%}
<div>{{ host }}</div>
{% endfor %}

<h3> Created switches</h3>
{% for switch in switches%}
<div>{{ switch }}</div>
{% endfor %}

<h3> Created controllers</h3>
{% for controller in controllers%}
<div>{{ controller }}</div>
{% endfor %}

<h3> Created links</h3>
{% for link in links%}
<div>{{ link }}</div>
{% endfor %}

<h3>Ping checked</h3>
<div>{{ ping }}</div>
</body>
</html>