<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Topo</title>
</head>
<body>
<h1>Text</h1>
<form method="post" action="/add_host">
    <button type="submit">Add host</button>
</form>

<form method="post" action="/add_switch">
    <button type="submit">Add switch</button>
</form>

<form method="post" action="/add_controller">
    <button type="submit">Add controller</button>
</form>


<h3> Created hosts</h3>
{% for host in hosts%}
<div>{{ host }}</div>
{% endfor %}

<h3> Created switches</h3>
{% for switch in switches%}
<div>{{ switch }}</div>
{% endfor %}

<h3> Created controllers</h3>
{% for controller in controllers%}
<div>{{ controller }}</div>
{% endfor %}
</body>
</html>